@model Cooperchip.ITDeveloper.Domain.Models.EstadoPaciente

@{
    ViewData["Title"] = "Excluir estado do paciente";
}

    <vc:cabecalho titulo="Medical Management - Sys / Módulo Estado dos Pacientes"
                  subtitulo="Módulo de Administração do Paciente"></vc:cabecalho>

<div class="panel panel-info panel-controls">
    <div class="panel panel-heading">
        <h3>Excluir de Estados de Paciente</h3>
    </div>

    <div class="panel panel-body">

        <div>
            <partial name="_delete_details" />

            <form asp-controller="EstadoPaciente" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Excluir Estado do Paciente" class="btn btn-danger" />
                <a asp-controller="EstadoPaciente" asp-action="Index" class="btn btn-info">Voltar à lista</a>
            </form>
        </div>
    </div>
</div>
