@model IEnumerable<Cooperchip.ITDeveloper.Domain.Models.EstadoPaciente>

@{
    ViewData["Title"] = "Lista de Estados de Paciente";
}

<vc:cabecalho titulo="Medical Management - Sys / Módulo Estado dos Pacientes"
              subtitulo="Módulo de Administração do Paciente"></vc:cabecalho>

<div class="panel panel-info panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Estados de Paciente</h3>
    </div>

    <div class="panel panel-body">

        <p>
            <a asp-controller="EstadoPaciente" asp-action="Create" class="btn btn-info"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adicionar</a>
        </p>
        
        <table-grid Items="@Model"></table-grid>

    </div>
</div>


