@model Cooperchip.ITDeveloper.Domain.Models.Paciente

@{
    ViewData["Title"] = "Exclusão do Paciente";
}

<vc:cabecalho titulo="Medical Management-Sys" subtitulo="Módulo Pacientes"></vc:cabecalho>

<div class="panel panel-info panel-controls">
    <div class="panel panel-heading">
        <h3>Excluir Paciente</h3>
    </div>

    <div class="panel panel-body">
        <div>
            <partial name="_delete_details" />

            <form asp-controller="Paciente" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Excluir Paciente" class="btn btn-danger" />
                <a asp-controller="Paciente" asp-action="Index" class="btn btn-info">Voltar à lista</a>
            </form>
        </div>

    </div>
</div>
