@model IEnumerable<Cooperchip.ITDeveloper.Domain.Models.Paciente>

@{
    ViewData["Title"] = "Lista de Pacientes";
}

<vc:cabecalho titulo="Medical Management-Sys" subtitulo="Módulo Pacientes"></vc:cabecalho>

<partial name="PartialViews/_estado_paciente" />

<div class="panel panel-info panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Pacientes</h3>
    </div>

    <div class="panel panel-body">
        <p>
            <a asp-controller="Paciente" asp-action="Create" class="btn btn-info"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adicionar Paciente</a>
        </p>

        <table-grid Items="@Model"></table-grid>
    </div>
</div>


